.product{
    display:flex;
    border-bottom:1px solid lightcoral;
    margin-bottom: 5px;
    margin-right:10px;
    padding-bottom:5px;
}

.product-name{
   color:lightseagreen;
   font-weight:400;
}

.main-button{
    background-color:seagreen;
    width:150px;
    height:30px;
    border:2px solid black;
    border-radius: 5px;
    cursor:pointer;
}